.todo-container {
  max-width: 500px;
  margin: 2rem auto;
  padding: 1.5rem;
  background: #fff;
  border-radius: 1rem;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  font-family: sans-serif;
}

.add-task {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.add-task button {
  margin-bottom: 21px;
}

.task-input {
  flex: 1;
}

.title-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: #f3f6f9;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.title-icon {
  font-size: 2 rem;
}

.title-text {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
  letter-spacing: 0.5px;
}


.todo-list {
  padding: 0;
  list-style: none;
  margin: 0;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
  margin-bottom: 0.5rem;
  background: #f0f4f8;
  border-radius: 0.5rem;
}

.edit-row {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex: 1;
}

.edit-input {
  flex: 1;
  padding: 0.5rem;
  font-size: 1rem;
}

.no-todos {
  text-align: center;
  color: #666;
  font-style: italic;
}
